<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/gridstack/dist/gridstack.css"/>
<link rel="stylesheet" href="bower_components/gridstack/dist/gridstack-extra.css"/> -->
<!-- <script src="../../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../../bower_components/jquery-ui/jquery-ui.js"></script>
<script src="../../../../bower_components/lodash/dist/lodash.min.js"></script> -->
<!-- <script src="../../../../bower_components/angular/angular.min.js"></script> -->
<!-- <script src="../../../../bower_components/gridstack/dist/gridstack.js"></script> -->
<!-- <script src="../../../gridstack.controller.js"></script>
<script src="../../../gridstack.directive.js"></script>
<script src="../../../gridstackitem.directive.js"></script> -->
<style type="text/css">
    grid1 {
        background: #c6ecf1;
    }
    .grid-stack-item-content {
        color: #2c3e50;
        text-align: center;
        background-color: #732145;
    }
</style>
<div class="container-fluid">
    <h1>gridstack-angular demo</h1>
    <p>{{vm.widgets}}</p>
    <div>
        <!-- <a class="btn btn-primary" ng-click="vm.addWidget()" href="#">Add Widget</a> -->
        <md-button class="btn btn-primary" ng-click="vm.addWidget()" href="#">Add Widget</md-button>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div gridstack class="grid-stack" style="background: #c6ecf1;" options="vm.options" on-change="vm.onChange(event,items)" on-drag-start="vm.onDragStart(event,ui)" on-drag-stop="vm.onDragStop(event,ui)" on-resize-start="vm.onResizeStart(event,ui)" on-resize-stop="vm.onResizeStop(event,ui)">
                <div gridstack-item ng-repeat="w in vm.widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y" gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="vm.onItemAdded(item)" on-item-removed="vm.onItemRemoved(item)">
                  <!-- <div>
                    dupa
                  </div> -->
                    <div class="grid-stack-item-content" style="color: #2c3e50;
                    text-align: center;
                    background-color: #732145;" layout="column" layout-align="center center">
                    <div>
                      <!-- <a class="btn btn-primary" ng-click="vm.removeWidget(w)" href="#">remove</a> -->
                      <md-button class="btn btn-primary" ng-click="vm.removeWidget(w)" href="#">remove</md-button>
                    </div>
                    <div>
                      <input ng-model="w.input">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
